[submodule "Carthage/Checkouts/Fx"]
	url = https://github.com/P0ed/Fx.git
[submodule "Carthage/Checkouts/OpenEmu-SDK"]
	url = https://github.com/P0ed/OpenEmu-SDK.git
[submodule "Carthage/Checkouts/PowerCore"]
	url = https://github.com/P0ed/PowerCore.git
[submodule "Carthage/Checkouts/Runes"]
	url = https://github.com/thoughtbot/Runes.git
